<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" type="text/css" th:href="@{/createpost.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<div class="createpostcontainer">
    <!-- Navigation bar -->
    <div class="navcontainer">
		<div>
		<nav>
		<span th:text="${session.username}" class="uname"></span>
        <a href="/goHome"><i class="fas fa-home"></i> News feed</a>
        <a href="/openCreatePost"><i class="fas fa-plus-circle"></i> Create post</a>
        <a href="/openMyProfile"><i class="fas fa-user-circle"></i> My profile</a>
    	</nav>
		</div>
	<div class="title">
	<div>
		<img src="https://static.vecteezy.com/system/resources/thumbnails/003/654/555/small_2x/k-letter-logo-icon-for-business-and-company-vector.jpg" class="logo"></div>
		<div><h1 class="titext">OD BOOK</h1></div>
	</div>
</div>
	
	<div class="formcontainer">
    <h2 style="color:#424242">Profile Creation</h2>
    
    <form id="profileForm" action="/createPost" method="post" enctype="multipart/form-data">
        <textarea name="caption" placeholder="Write your caption here..." required></textarea>
        <br><br>
        <input type="file" name="photo" accept="image/*" />
        <br><br>
        <button type="submit" class="but">POST</button>
    </form>
   </div>
</div>
</body>
</html>